<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat em Tempo Real</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1 class="title-login">Login</h1>
        <div>
            <form action="/chat" method="get" class="username-container">
                <label for="username" class="username-text">Digite seu nome:</label>
                <input type="text" name="username" required class="username-input">
                <button type="submit" class="button-send-username">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>